
@{
    ViewBag.Title = "Inicio";
    ViewBag.TituloControlador = "INICIO";
    ViewBag.TituloVentana = "Menu Principal";
    ViewBag.TituloPagina = "Inicio";
    ViewBag.InfoPagina = "Bienvenido al sistema de Gestion de Clinicas";
    ViewBag.Footer = "Version Inicial";
}

<center>
    <h2>Bievenido al Sistema de Gestion de Clinicas Medicas</h2>
</center>

